**/lazy-lock.json

node_modules
**/node_modules/
**/package-lock.json

**/npm/**
**/npm/.gitignore

**/.env

**/sessions

**/auth.json

**/models.json
**/mcp-cache.json
**/git/


**/bin/*
**/state/*
**/cache/*
**/pi-session-*
**/.DS_Store

.commandcode/*
**/zed/prompts/*
